@model EventOrganizerDomain.Model.Event

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h3>Редагування події</h3>
<hr />

<div class="container">


    <div class="row">
        <div class="col-md-">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="PlaceId" class="control-label"></label>
                    <select asp-for="PlaceId" class="form-control" asp-items="ViewBag.PlaceId"></select>
                    <span asp-validation-for="PlaceId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Organizers" class="control-label">Організатори</label>
                    <select asp-for="Organizers" class="form-control" asp-items="ViewBag.OrganizerId" multiple="multiple">
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Tags" class="control-label">Теги</label>
                    <select asp-for="Tags" class="form-control" asp-items="ViewBag.TagId" multiple="multiple"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Speaker" class="control-label"></label>
                    <input asp-for="Speaker" class="form-control" />
                    <span asp-validation-for="Speaker" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DateTimeStart" class="control-label"></label>
                    <input asp-for="DateTimeStart" class="form-control" />
                    <span asp-validation-for="DateTimeStart" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DateTimeEnd" class="control-label"></label>
                    <input asp-for="DateTimeEnd" class="form-control" />
                    <span asp-validation-for="DateTimeEnd" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Capacity" class="control-label"></label>
                    <input asp-for="Capacity" class="form-control" />
                    <span asp-validation-for="Capacity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PictureUrl" class="control-label">Постер</label>
                    <input asp-for="PictureUrl" class="form-control" />
                    <span asp-validation-for="PictureUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <img id="imageUrlPreview" class="img-fluid" src="#" alt="Постер події" style="max-width: 200px; max-height: 200px; display: none;" />
                </div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>





@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        function readImageUrl(input) {
            var imageUrl = input.value;
            if (imageUrl) {
                $('#imageUrlPreview').attr('src', imageUrl).show();
            } else {

                $('#imageUrlPreview').hide();
            }
        }

        $("#PictureUrl").change(function () {
            readImageUrl(this);
        });
    </script>

    <script>
        // Функция для проверки URL на стороне клиента
        function validateUrl(url) {
            var urlPattern = /\b(?:https?:\/\/|www\.)\S+\b/;
            return urlPattern.test(url);
        }

        // Привязка события изменения поля PictureUrl к функции проверки URL
        $("#PictureUrl").change(function () {
            var urlInput = $(this);
            var urlValue = urlInput.val();
            var errorSpan = urlInput.nextAll(".text-danger").first();
            if (validateUrl(urlValue)) {
                errorSpan.text(""); // Очистить сообщение об ошибке, если URL действителен
            } else {
                errorSpan.text("Неправильный формат URL");
            }
        });
    </script>
}
