@model EventOrganizerInfrastructure.ViewModel.RegisterViewModel

<h2>Реєстрація</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register" asp-controller="Account" method="post" class="form-horizontal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PasswordConfirmed" class="control-label"></label>
                <input asp-for="PasswordConfirmed" class="form-control" />
                <span asp-validation-for="PasswordConfirmed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Role" class="control-label"></label>
                <select asp-for="Role" class="form-control">
                    <option value="Participant">Учасник</option>
                    <option value="Organizer">Організатор</option>
                </select>
            </div>
            <div class="form-group" id="organizationNameField" style="display: none;">
                <label asp-for="OrganizationName" class="control-label"></label>
                <input asp-for="OrganizationName" class="form-control" />
                
            </div>
            <div class="form-group" id="phoneNumberField" style="display: none;">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Зареєструватися</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#Role').change(function () {
                var role = $(this).val();
                if (role === 'Organizer') {
                    $('#organizationNameField').show();
                    $('#phoneNumberField').show();
                } else {
                    $('#organizationNameField').hide();
                    $('#phoneNumberField').hide();
                }
            });
        });
    </script>
}